@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Raleway&display=swap');

body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f5f9;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    max-height: 100vh;
    font-size: 14px;
  }
  h1,h2,h4,h5,h6, h3{
    font-family: Poppins, Arial, Helvetica, sans-serif;
  
  }
  /*...............Header Styling....................*/
  .logo {
    background: linear-gradient(to bottom, #ff9c1a, #ec1b09);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding-left: 24px;
  }

  /*.....................Navbar Styling.....................*/
  .icon {
    display: flex;
    border-radius: 12px;
    background-color: #e1e8efe7;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    text-decoration: none;
    color: #000;
  }
  .icon:hover {
    cursor: pointer;
    background-color: #e1e8effb;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .icon-size {
    width: 24px;
    height: 24px;
  }
  
  .icon p {
    margin: 0;
  }
  .active {
    background: linear-gradient(to right, #ff9c1a, #ec1b09);
    color: #ffffff;
  }
  
  .card-effect {
    background-color: #ffffffa4;
    border-radius: 12px;
    width: fit-content;
    padding: 8px 24px;
    border: 0.5px solid #8f8c8c49;
    
  }

  /*..............ContactCard Styling.....................*/

  .contact-card {
    background-color: #e1e8efe7;
    border-radius: 12px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0 24px;
  }
  
  .contact-card p {
    margin: 0;
  }
  .contact-image{
    width: 28px;
    height: 28px;
  }
  .contact-icon {
    border-bottom: 0.5px solid #8f8c8c49;
  }
  .text-color{
      color:#848483 ;
  }
  .btn-bg {
    background: linear-gradient(to right, #ff9c1a, #ec1b09);
    border-radius: 24px;
    padding: 12px 12px;
    font-size: small;
    color: white;
  }
  .btn-bg:hover {
    color: white;
  }

  /*.......................SocialMedia Styling........................*/

  .social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 12px;
    background-color: #e1e8efe7;
    transition: all 0.2s;
    border: none;
  }
  .social-icon:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  .social-image{
    width: 45px;
    height: 45px;
    padding: 10px;
  }
  /*................Profile.....................*/

  .profile-width {
    min-width: 30%;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 24px 0px;
    height: auto;
  }

  /*............Skills Styling................*/

  .skill-page{
    background-color: white;
    padding: 12px 36px;
  }
  
  .w-half{
    width: 50%;
  }
  
  
  .skill-icon{
    border-radius: 8px;
    background-color:#e1e8efe7 ;
    padding: 12px 24px;
  }

  /*.................About Styling.....................*/

  .about-page{
    background-color: white;
    padding: 12px 36px;
  }
  
  .about-page p{
    font-size: 16px;
    line-height: 30px;
  }
  
  .about-card{
    background-color: #FFEBD1;
    border-radius: 12px;
    padding: 12px;
  }

  /*......................Resume Styling...........................*/

  .resume-card{
    background-color: white;
    margin-top: 12px;
    bottom: 12px;
    border-radius: 12px;
    padding: 12px 36px;
  }

  /* .resume-card .d-flex{
    column-gap: 100px;
  } */
  .w-100{
    width: 100%;
  }

  .link-navigate{
  text-decoration: underline;
  color: rgba(0, 0, 254, 0.75);
}

  .resume-card1{
    background-color: #FFE3BF;
    border-radius: 12px;
    padding:24px 12px;
    
  }
  
  .resume-card1 p{
    margin: 0;
  }
  
  .resume-card2{
    background-color: #FFEED9;
    border-radius: 12px;
    padding: 24px 12px;
  }
  .resume-card2 p{
    margin: 0;
  }

  /*..................Project Styling.......................*/

  .project-page{
    padding:12px 36px ;
    background-color: white;
    border-radius: 12px;
  }

  .project-image2{
    background-color:#FFEED9 ;
    padding:12px 12px;
  }
  .project-image1{
    background-color:#FFE3BF ;
    padding:12px 12px;
  }
  .image2 {
    width: 300px;
  }
  .src-button{
    background-color:#f0f7ffef ;
    border-radius: 4px;
    padding: 8px 16px;
    border:none ;
    transition: all 0.2s;
    border-color: 3px solid #fff;
  }
  
  .src-button:hover{
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); ;
  }
  
  .project-page .image-col{
    column-gap: 48px;
    width: fit-content;
  }

  /*...................Contact Styling.....................*/

  .contact-page{
    background-color: white;
    border-radius: 12px;
    padding: 24px 36px;
    margin-top: 12px;
  }

  .contact-form{
    background-color: #F8FBFB;
    border-radius: 12px;
    padding: 5px;      /*additionally added*/
  }

  .contact-form p{
    line-height: 30px;
  }

  .contact-info{
    line-height: 30px;
    background-color:#F8FBFB ;
    border-radius: 12px;
    padding: 5px;  /*additionally added*/
  }

  .form-submit {
    border-image: linear-gradient(to right, #ff9c1a, #ec1b09);
    border-image-slice: 5; /* Adjust this value as needed */
    border-radius: 24px;
    padding: 6px 18px;
  }

  .error-message{
    margin: 0;
    color: rgba(250, 45, 45, 0.822);
    font-size: 12px;
  }
  .text-success{
    color: rgba(86, 150, 86, 0.788);
  }

  /*................Home Styling....................*/

  .home-page{
    display: flex;
  }
  
  .overflow-auto{
    overflow-y: auto;
    height: 75vh;
  }

  @media (max-width: 720px) {
    body{
      width: 100%;
    }
    .logo{
      text-align: center;
    }
    .d-flex1{
      flex-direction: column;
    }
    .home-page {
      flex-direction: column;
    }
    .resume-card .d-flex{
      flex-direction: column;
    }
  
  .resume-card{
    padding: 12px 24px;
    column-gap: 10px;
  }
  .icon{
    width: 60px;
    height: 60px;
  }
  .navbar{
    justify-content: center !important ;
  }
  .navbar{
    position: sticky;
    top: 0;
    padding-top: 0px;
    background-color: white;
  }
  
  .about-flex{
    flex-direction: column;
  }
  .skill-page{
    flex-direction: column;
    padding: 12px 24px;
  }
  .w-half{
    width: 100%;
  }
  .contact-form{
    padding: 0.5rem;
  }
  .contact-info{
    padding: 0.5rem;
  }
  .overflow-auto{
    height: 100%;
  }
  .contact-page{
    padding: 12px 24px;
  }
  .project-page{
    margin: 0;
    margin-top: 12px;
    padding: 4px 4px;
  }
  .image-col{
    display: flex;
    flex-direction: column;
  }
  }
  
  @media (min-width:721px) and (max-width: 1020px) {
    body{
      width: 100%;
    }
    .profile-width {
      min-width: 40%;
      background-color: #ffffff;
      border-radius: 12px;
      padding: 24px 0px;
    }
    .project-page{
      margin: 0;
      margin-top: 12px;
      padding: 4px 4px;
    }
    .image-col{
      display: flex;
      flex-direction: column;
    }
    .overflow-auto{
      height: auto;
    }
    .skill-page{
      flex-direction: column;
      padding: 12px 24px;
    }
    .w-half{
      width: 100%;
    }
    .about-flex{
      flex-direction: column;
    }
    .resume-card .d-flex{
      flex-direction: column;
    }
  }